<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/frontend/overview">Overview</a></td>
        <td><a href="{{site.baseurl}}/frontend/javascript">Tutorial</a></td>
        <td><a href="{{site.baseurl}}/frontend/calculator">Calculator</a></td>
        <td><a href="{{site.baseurl}}/frontend/binary">Binary</a></td>
        <td><a href="{{site.baseurl}}/frontend/grades">Grades</a></td>
        <td><a href="{{site.baseurl}}/frontend/graph">Graph</a></td>
        <td><a href="{{site.baseurl}}/2022-09-25-JavaScriptfile">Life</a></td>
        <td><a href="http://0.0.0.0:4000/Blog1/Notebooks/javaQuiz">JavaQuiz Blog Hack</a></td>
    </tr>

    
</table>
<button type="button"
    onclick="document.getElementById('id1').style.color = 'red'">
    Click Me!</button>
<h2>Nikhil's first JavaScript</h2>

<button type="button"
onclick="document.getElementById('demo').innerHTML = Date()">
Click me to display Date and Time.</button>

<p id="demo"></p>